@font-face {
    font-family: 'Berthold Akzidenz Grotesk BE Regular';
    src: url('/fonts/Berthold Akzidenz Grotesk BE Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }