@font-face {
    font-family: "Doroob";
    src: url("../../fonts/Berthold Akzidenz Grotesk BE Regular.eot");
    src: url("../../fonts/Berthold Akzidenz Grotesk BE Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Berthold Akzidenz Grotesk BE Regular.woff") format("woff"), url("../../fonts/Berthold Akzidenz Grotesk BE Regular.ttf") format("truetype"), url("../../fonts/Berthold Akzidenz Grotesk BE Regular.svg#berthold_akzidenz_grotesk_bRg") format("svg");
}

@font-face {
    font-family: "Doroob SSTArabic Roman";
    src: url("../../fonts/SSTArabic-Roman[1][4][1][3][2][1][2].otf");
}

*,
*::before,
*::after {
    font-family: "Doroob", "Doroob SSTArabic Roman", Arial, Tahoma, sans-serif;
}

body {
    font-family: "Doroob", "Doroob SSTArabic Roman", Arial, Tahoma, sans-serif;
}